<div class="container">
  <div class="row">
  <% @tools.each do |tool| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-header">
            <h1><%= tool.title.upcase %></h1>
            <h1><%= tool.price_per_day %> €/day</h1>
          </div>
          <div class="card-image" style="background-image: url('<%= image_path("drill.jpg") %>')" %>
          </div>
          <div class="card-description">
            <p><%= tool.description %></p>
          </div>

          <%= link_to "", tool_path(tool) %>
        </div>
      </div>
    <% end -%>
  </div>
</div>
