<h2>Tools list</h2>


<% @tools.each do |tool| %>
  <div class="tool">
    <h3><%= link_to tool.title, tool_path(tool) %></h3>
    <p><%= tool.user %></p>
    <p><%= tool.price_per_day %> €/per day</p>
    <p><%= tool.caracteristics %></p>
    <p><%= tool.description %></p>
  </div>
<% end %>

