<div id="show-tool">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
          <div class="contrasted">
            <h3 id="title"><%= @tool.title %> </h3>
            <div class="row">
              <span class="col-xs-3 title">Caractéristiques</span>
              <span class="col-xs-9 value"><%= @tool.caracteristics %></span>
            </div>
            <div class="row">
              <span class="col-xs-3 title">Description</span>
              <span class="col-xs-9 value"><%= @tool.description %></span>
            </div>
            <div class="row">
              <span class="col-xs-3 title">Price per day</span>
              <span class="col-xs-9 value"><%= @tool.price_per_day %> €</span>
            </div>
            <div class="row">
              <span class="col-xs-3 title">Picture</span>
              <span class="col-xs-9 value"><%= image_tag 'http://placehold.it/100x100' %></span>
            </div>
            <p>
              <%= link_to 'Edit |', edit_tool_path %>
              <%= link_to 'Back |', tools_path %>
              <%= link_to 'Your bookings', bookings_path %>
            </p>
          </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="book-form contrasted">
          <h3>Book this tool !</h3>
          <%= simple_form_for([@tool, @booking]) do |f| %>
            <%= f.input :start_date, as: :string %>
            <%= f.input :end_date, as: :string %>
            <%= f.button :submit, class: 'btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
