<div class="container">
  <div class="text-center">
    <h2> <%= @tool.title %> </h2>
    <h1> <%= @tool.caracteristics %> </h1>
    <h1> <%= @tool.description %> </h1>
    <h1> <%= @tool.price_per_day %> €/day </h1>
    <p> <%= link_to 'Edit |', edit_tool_path %>
        <%= link_to 'Back |', tools_path %>
        <%= link_to 'Your bookings', bookings_path %></p>

      <BR>
      <H2>Book this tool !</H2>
      <%= simple_form_for([@tool, @booking]) do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
      <BR>
        <%= f.button :submit %>
      <% end %>
      <BR>
  </div>
</div>
